* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
    ---main-red: #ff0707;
    ---red-trasnparent: #ff070730;
    ---black: #000;
    ---white: #fff;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background: var(---black);
	color: var(---white);
}

.nav {
	position: fixed;
	top: 0;
	background: var(---black);
	width: 100%;
    height: 64px;
	display: flex;
	justify-content: space-between;
	gap: 20px;
	padding: 10px;
}

.nav > input {
    color: var(---main-red);
    border: 2px solid var(---red-trasnparent);
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    max-width: 190px;
    margin: 0 2rem;
}

.nav > img {
    height: 100%;
    margin: 0 2rem;
    background-color: var(---main-red);
    padding: 0.2px;
    border: solid 4px var(---main-red);
    border-radius: 40px;
}

.nav > h2 {
    color: var(---main-red);
    text-align: center;
    align-self: center;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 100px auto 100px auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}

.contenedor .pelicula {
	text-align: center;
}

.contenedor .pelicula:hover {
	transform: scale(110%);
    background-color: var(---red-trasnparent);
    border-radius: 0.25rem;
    cursor: pointer;
}

.contenedor .pelicula .titulo {
	font-size: 14px;
	font-weight: 400;
    margin: 1rem 0;
}

.contenedor .pelicula .poster {
	width: 100%;
	border-radius: 0.5rem;
}